<div id="CommonWin2" class="modal">
    @Avarez.Helper.winClass.windowHeader("", ".", 800, 600)

    <div id="CommonContent2">

    </div>

    @Avarez.Helper.winClass.windowFother()

    <script type="text/javascript">
        $(document).ready(function () {
            $('#CommonWin2 #btnClose').click(function () {
                $("#CommonWin2").remove();
                //isWinOpen = false;
                Dialog2 = 0;
            });
        });
    </script>
</div>