<div class="modal" id="error">
@if (Session["ER"] != null)
{
    Layout = Url.Content("~/views/Shared/_Layout.cshtml");
}
    @Avarez.Helper.winClass.windowHeader("", "خطا", 250, 180)
    <br />
    <div id="message">
        @if (Session["ER"] != null)
        {
            <span>@Session["ER"].ToString()</span>
            Session.Remove("ER");
        }
    </div>
    <br />
    @Avarez.Helper.winClass.Buttons("ok", "تایید", "yes")
    <br />
    <script type="text/javascript">
        $("document").ready(function () {
            $("#ok").button();
            $("#ok").focus();
            $("#ok").click(function () {
                $("#txtSerial").focus();
                $("#error").remove();                
            });
        });
    
</script>
@Avarez.Helper.winClass.windowFother()
</div>
