@using Ext.Net.MVC
@using Hogaf.ExtNet.UX
@using Ext.Net;
@{
    var X = Html.X();
}

<style>
    .fontlbl {
        font-size: 11px;
    }
</style>

@(Html.X().Window()
    .Modal(true)
    .Width(500)//.Height(300)
    .Title("پرداخت")
    .Resizable(false)
    .ID("NewWinIndex")
    .Closable(true)
    .CloseAction(Ext.Net.CloseAction.Destroy)
    .Layout(LayoutType.Fit)
    .ButtonAlign(Ext.Net.Alignment.Center)
    //.Buttons(
        //X.Button()
        //        .Text("پرداخت").Handler("window.open('Https://Sadad.Shaparak.Ir/Purchase')")
        //    .Icon(Ext.Net.Icon.Disk)
        //,
        //X.Button()
        //    .Text("خروج")
        //    .Icon(Ext.Net.Icon.BulletCross)
        //    .ToolTip("کلید میانبر Esc")
        //    .OnClientClick("App.NewWinIndex.destroy()"))
    .Items(
        X.FormPanel()
            .Border(false)
            .PaddingSpec("10px 0 10px 0")
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Center })
            .Items(
                    X.FieldSet()
                    .Border(false)
                    .Layout(LayoutType.Table)
                    .LayoutConfig(new Ext.Net.TableLayoutConfig { Columns = 2 })
                    .Defaults(new { Margin = 2 })
                    .Items(
                  X.Container().Height(120).Content(@<div align="center" id="fi-button-Dl4" style="text-align:center;">
                        <br />
                        <form action="@Url.Content("~/parsian/pay")" method="post">
                            <table>
                                <tr>
                                    <td>
                                        <div class="tag">
                                            کد تراکنش
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tag">
                                            @Session["Tax"].ToString()
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="tag">
                                            مبلغ پرداخت
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tag">
                                            @Convert.ToDouble(Session["Amount"]).ToString("#,###")
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        لطفا کد تراکنش را جهت پیگیری های بعدی یادداشت فرمائید.
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="center">
                                        <input type="submit" id="Run" name="Run" value="پرداخت" class="run" />
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>)

                                )

                )
                )
)

<script type="text/javascript">
  

</script>