<div id="pdf"><center style="color:red;">لطفا تا دانلود کامل فایل مربوط به مفاصا حساب منتظر بمانید. با تشکر</center></div>
<script type="text/javascript">
    $(document).ready(function () {
        var t = '@Url.Content("~/OfficeRecipt/print/")' + '@ViewBag.id';
        window.location.href = t;
    });
</script>